<!-- filepath: /Users/MacAttack/GitHub/Blogs/index.html -->
---
layout: default
title: RSS Feeds and Blog Posts
---

<h1>RSS Feeds of various content from Christophe Foulon</h1>

{% assign combined_posts = site.data.blog_posts | concat: site.data.older_blogs | sort: 'date' | reverse %}
{% for post in combined_posts %}
  <article>
    <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content | truncatewords: 50 }}
    {% endif %}
  </article>
{% endfor %}